= form_for @patron do |f|
  - if @patron.errors.any?
    #error_explanation
      %h2= "#{pluralize(@patron.errors.count, "error")} prohibited this patron from being saved:"
      %ul
        - @patron.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :first_name
    = f.text_field :first_name
  .field
    = f.label :last_name
    = f.text_field :last_name
  .actions
    = f.submit 'Save'
