%h1 Listing patrons

.all-patrons
  %p First name Last name

  - @patrons.each do |patron|
    %p
      = patron.first_name
      = patron.last_name
      = link_to 'Show', patron
      = link_to 'Edit', edit_patron_path(patron)
      = link_to('Destroy', patron, method: :delete, data: { confirm: 'Are you sure?' })

= link_to 'New Patron', new_patron_path
