<p id="notice"><%= notice %></p>

<p>
  <b>First name:</b>
  <%= @patron.first_name %>
</p>

<p>
  <b>Last name:</b>
  <%= @patron.last_name %>
</p>


<%= link_to 'Edit', edit_patron_path(@patron) %> |
<%= link_to 'Back', patrons_path %>
