%h1 Listing books

.all-books
  %p Title Author Checked out

  - @books.each do |book|
    %p
      = book.title
      = book.author
      = book.checked_out
      = link_to 'Show', book
      = link_to 'Edit', edit_book_path(book)
      = link_to('Destroy', book, method: :delete, data: { confirm: 'Are you sure?' })

  = will_paginate @books if @books

%p= link_to 'New Book', new_book_path
