- if @transaction.errors.any?
  #error_explanation
    %h2= pluralize(@transaction.errors.count, "error") + ' prohibited the checkout from happening'
    %ul
      - @transaction.errors.full_messages.each do |msg|
        %li= msg

= form_for @transaction do |f|
  = select(:transaction,:patron_id, @patrons.collect{|p| [p.last_name, p.id] }, {:prompt => "select a patron"})

  = select(:transaction,:book_id, @available_books.collect{|b| [b.title, b.id] }, {:prompt => "Select a Book" })

  = f.submit('Checkout')
