.transaction_form
  = form_for @transaction do |f|
    = select(:transaction,:patron_id, @patrons.collect{|p| [p.last_name, p.id] }, {:prompt => "select a patron"})

    = select(:transaction,:book_id, @available_books.collect{|b| [b.title, b.id] }, {:prompt => "Select a Book" })

    = f.submit('Checkout')

%p= t('links.checkout.unavailable_books_heading')

.unavailable_books
  - @unavailable_books.each do |book|
    %p= book.title
