%p= t('books_checked_out')

.transactions
  %p Patron | Book | Checked out date
  %p= t('all_available') if @unfinished_transactions.empty?
  - @unfinished_transactions.each do |transaction|
    %p
      - book = Book.find(transaction.book_id)
      - patron = Patron.find(transaction.patron_id)
      = patron.first_name
      = patron.last_name
      |
      = book.title
      |
      = transaction.checkout
      |
      = link_to t('links.checkin.checkin_book') , {:controller => :transactions, :action => :checkin_book,  :transaction_id => transaction.id}
