%p= t('books_checked_out')

.transactions
  %p Patron | Book | Checked out date
  %p= t('all_available') if @unfinished_transactions.empty?
  - @unfinished_transactions.each do |transaction|
    %p
      - book = Book.find(transaction.book_id)
      - patron = Patron.find(transaction.patron_id)
      = patron.last_name
      &nbsp;
      = patron.first_name
      = book.title
      = link_to t('links.checkin.link_name') , {:controller => :transactions, :action => :checkin_book, :book_id => transaction.book_id, :transaction_id => transaction.id}
