%ul
  %li Patron | Book | Check out date | Check in date |
  - @transactions.each do |transaction|
    - patron = Patron.find(transaction.patron_id)
    - book = Book.find(transaction.book_id)
    %li
      = link_to 'Destroy', { :controller => :transactions, :action => :delete, :transaction_id => transaction.id }
      = patron.first_name
      = patron.last_name
      |
      = book.title
      |
      = transaction.checkout
      |
      = transaction.checkin
