.book_search_box
  = form_tag select_book_checkout_path, :method => :get, :remote => true do
    = label_tag :search_books
    = text_field_tag :search_books, params[:search_books], :placeholder => 'Book title or Author'

.selected_books
  = form_tag checkout_book_path do
    = submit_tag 'Checkout Books',:disabled => true
.book_search_results
